@model Protocolo

@{
    ViewData["Title"] = "Detalhes do Protocolo";
}

<h2>Detalhes do Cliente</h2>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.Titulo</h4>
        <p><strong>Descrição:</strong> @Model.Descricao</p>
        <p><strong>Cliente:</strong> @Model.Cliente.Nome</p>
        <p><strong>Status:</strong> @Model.ProtocoloStatus.NomeStatus</p>
    </div>
</div>

<a asp-action="Edit" asp-route-id="@Model.IdProtocolo" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>